# Ignore everything by default
*

# But allow directories to be traversed
!*/

# Allow ONLY these files
!BigDebuffs/BigDebuffs_Mists.lua
!Diminish/libs/DRList-1.0/Spells.lua
!flyPlateBuffsFixed/flyPlateBuffsFixed.lua
!flyPlateBuffsFixed/spellList.lua
!flyPlateBuffsFixed/flyPlateBuffsFixed.lua - Shortcut
!flyPlateBuffsFixed/flyPlateBuffsFixed.lua.bak - Shortcut
!LoseControl/LoseControl.lua
