# Ignore everything by default
*

# But allow directories to be traversed
!*/

# Allow everything inside these folders
!Diminish/**
!flyPlateBuffsFixed/**
!GladiusEx/**
!LoseControl/**
!BattleGroundEnemies/**
!ACP/**
!NamePlateCooldowns/**
!OmniCD/**
!NamePlateCooldowns/**
!BetterBlizzFrames/**
!BetterBlizzPlates/**
!BigDebuffs/**
!ReforgeLite/**
!SpellNotifications/**